.cv-main 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;  
    padding: 1rem 1rem;
    text-align: left;
}

.cv-left-column 
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cv-right-column 
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

ul 
{
    list-style-type: disc;
    margin-left: 2rem;
}

h2 
{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
}

h3 
{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: 'VT323', monospace;
}

p 
{
    font-size: 1rem;
    line-height: 1.6;
}

time 
{
    font-style: italic;
    color: #7234b0;
}

section 
{
    margin-bottom: 1rem;
}


