@import url('https://fonts.googleapis.com/css2?family=Lora&family=Orbitron&family=Press+Start+2P&family=VT323&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    line-height: 1.6;
    background: linear-gradient(to right, #ff77ff, #00ffff);
    color: #0a0a23;
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

h1
{
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
  
h2
{
    font-family: 'VT323', monospace;
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
  
h3
{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
  
p
{
    font-family: 'Lora', serif;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    max-width: 65ch;
}
  
a
{
    font-family: 'Lora', serif;
    color: #2E8B57;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover 
{
    color: #00ffff;
    text-decoration: underline;
}

.top-header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    background-color: #ff0f5f;
    border-bottom: 2px solid black;
}
  
.top-header img 
{
    height: 100px;
    width: auto;
}
  
.navbar ul 
{
    list-style: none;
    display: flex;
    gap: 3.5rem;
    padding: 0;
    margin: 0;
}
  
.navbar a 
{
    font-family: 'VT323', monospace;
    color: black;
    background-color: #d3d3d3;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 0 black;
}
  
.navbar a:hover 
{
    background-color: #bfbfbfa7;
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 0 black;
}
  
  