main 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


section.h-entry 
{
    background: linear-gradient(135deg, #A3D9FF 0%, #E1B3FF 100%);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0 0 20px #9B4DFF;
    color: #000000;
    font-family: 'Lora', serif;
}

h1 
{
    font-size: 5rem;
    color: black;
    text-align: center;
}

section.h-entry h2 
{
    font-size: 2.35rem;
    color: #0022ffb0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

section.h-entry h3 
{
    font-size: 1rem;
    color: #9B4DFF;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

section.h-entry p 
{
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #000000;
}


section.h-entry time,
section.h-entry .date,
section.h-entry .datetime 
{
    color: black;
}

section.h-entry img 
{
    max-width: 100%;
    max-height: 600px;
    height: auto;
    border-radius: 12px;
    display: block;
    margin: 1rem auto;
    box-shadow: 0 0 10px #9B4DFF;
}


section.h-entry ul
{
    color: black;
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

section.h-entry li 
{
    margin-bottom: 0.5rem;
}

section.h-entry ul li::marker 
{
    color: #FF77FF;
}


section.h-entry a 
{
    color: #9f009f;
    text-decoration: underline;
    transition: color 0.5s ease;
}

section.h-entry a:hover 
{
    color: #00a4a4;
}

.nav-button
{
    font-family: 'Press Start 2P', cursive;
    background-color: #d3d3d3;
    border: 2px solid black;
    padding: 0.4rem 0.7rem;
    box-shadow: 2px 2px 0 black;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: url(Cursors/Link\ Select.cur), pointer;
    margin-bottom: 1rem;
}


